{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Opinie o Joker - Food & Friends</h1>
    <div class="row">
        <!-- Google Reviews -->
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Google</h4>
                    <p><strong>Średnia ocena:</strong> {{ google.average }}</p>
                    <ul class="list-group list-group-flush">
                        {% for review in google.reviews %}
                            <li class="list-group-item">{{ review }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Pyszne.pl Reviews -->
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title">Pyszne.pl</h4>
                    <p><strong>Średnia ocena:</strong> {{ pyszne.average }}</p>
                    <ul class="list-group list-group-flush">
                        {% for review in pyszne.reviews %}
                            <li class="list-group-item">{{ review }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
