
{% extends "base.html" %}
{% block content %}
<h2>Lista Sprzedaży</h2>
<a class="btn btn-success mb-3" href="{{ url_for('add_sale') }}">Dodaj Sprzedaż</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Data</th>
            <th>Gotówka</th>
            <th>Karta</th>
            <th>Zapłacono</th>
            <th>Suma</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        {% for s in sales %}
        <tr>
            <td>{{ s.date }}</td>
            <td>{{ s.gotowka if s.gotowka is not none else 0.0 }}</td>
            <td>{{ s.przelew if s.przelew is not none else 0.0 }}</td>
            <td>{{ s.zaplacono if s.zaplacono is not none else 0.0 }}</td>
            <td>{{ s.gotowka + s.przelew + s.zaplacono }}</td>
            <td>
                <a href="{{ url_for('edit_sale', sale_id=s.id) }}" class="btn btn-warning btn-sm">Edytuj</a>
                <form action="{{ url_for('delete_sale', sale_id=s.id) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm">Usuń</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
