<div class="modal fade" id="addSaleModal" tabindex="-1" aria-labelledby="addSaleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form id="addSaleForm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addSaleModalLabel">Dodaj sprzedaż</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="saleDate" class="form-label">Data</label>
          <input type="date" class="form-control" id="saleDate" required>
        </div>
        <div class="mb-3">
          <label for="saleGot" class="form-label">Gotówka</label>
          <input type="number" step="0.01" class="form-control" id="saleGot" required>
        </div>
        <div class="mb-3">
          <label for="salePrz" class="form-label">Przelew</label>
          <input type="number" step="0.01" class="form-control" id="salePrz" required>
        </div>
        <div class="mb-3">
          <label for="saleZap" class="form-label">Zapłacono</label>
          <input type="number" step="0.01" class="form-control" id="saleZap" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Zapisz</button>
      </div>
    </div>
    </form>
  </div>
</div>
<div class="modal fade" id="editSaleModal" tabindex="-1" aria-labelledby="editSaleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form id="editSaleForm">
    <input type="hidden" id="editSaleId">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editSaleModalLabel">Edytuj sprzedaż</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="editSaleDate" class="form-label">Data</label>
          <input type="date" class="form-control" id="editSaleDate" required>
        </div>
        <div class="mb-3">
          <label for="editSaleGot" class="form-label">Gotówka</label>
          <input type="number" step="0.01" class="form-control" id="editSaleGot" required>
        </div>
        <div class="mb-3">
          <label for="editSalePrz" class="form-label">Przelew</label>
          <input type="number" step="0.01" class="form-control" id="editSalePrz" required>
        </div>
        <div class="mb-3">
          <label for="editSaleZap" class="form-label">Zapłacono</label>
          <input type="number" step="0.01" class="form-control" id="editSaleZap" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
      </div>
    </div>
    </form>
  </div>
</div>
